{% extends "weather/base.html" %}

{% block title %}Главная - Weather App{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="mt-5">Добро пожаловать в Weather App!</h1>
        <p class="lead">Авторизуйтесь, чтобы просматривать погоду для своего города.</p>
        {% if not user.is_authenticated %}
            <a href="{% url 'login' %}" class="btn btn-success">Вход</a>
            <a href="{% url 'register' %}" class="btn btn-success">Регистрация</a>
        {% else %}
            <a href="{% url 'weather' %}" class="btn btn-info">Смотреть погоду</a>
        {% endif %}
    </div>
{% endblock %}
